Django==4.2.3
Requests==2.31.0
allure-behave==2.13.2
allure-python-commons==2.13.2
behave==1.2.6
behave-html-formatter==0.9.10
behave-pytest==0.1.1
Django==4.2.3
django-cors-headers==4.2.0
jsonschema==4.17.3
requests==2.31.0
urllib3==2.0.2
